.linkBTN {
  margin: 0 10px;
  text-decoration: none;
  color: #fff;
}

.imageHero {
  width: 100%;
  height: auto;
}

.contactBTNContainer {
  margin: 30px auto;
  padding: 10px;
  max-width: 200px;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  border-radius: 22px;
  background: #0e8254;
}

.titleSub {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 20px;
}

.textMain {
  width:80%;
  margin: 20px auto;
  line-height: 1.5;
  font-size: 1.1rem;
}

.containerList {
  width: 80%;
  margin: auto;
}

.listItem {
  text-align: start;
  margin: 10px 40px;
  font-size: 1.1rem;
  font-weight: 600;
}