.linkBTN {
  margin: 0 10px;
  text-decoration: none;
  color: #fff;
}

.imageHero {
  width: 100%;
  height: auto;
  padding: 0 20px 20px 20px;
  background-color: #fff;
  border-radius: 0 500px 500px 0;
}

.imageAbout {
  width: 100%;
  height: auto;
  padding: 0 20px;
  background-color: #fff;
  border-radius: 0 0 500px 500px;
}

.imageContact {
  width: 100%;
  height: auto;
  padding: 0 20px;
  background-color: #fff;
  border-radius: 500px 0 500px 0;
}

.imageTraban {
  width: 100%;
  height: auto;
  padding: 0 20px 20px 20px;
  background-color: #fff;
  border-radius:  500px;
}

.tagline {
  width: 80%;
  margin: auto;
  background-color: #fff;
  color: #017b4b;
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
}

.contactDesktop {
  display: none;
}

.contactDesktop1 {
  display: none;
}

.contactBTNContainer {
  margin: 30px auto;
  padding: 10px;
  max-width: 200px;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  border-radius: 1px;
  border: solid 1px #fff;
  background: #0e8254;
}

.contactWhatsapp {
  margin: 30px auto;
  padding: 10px;
  max-width: 200px;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  border-radius: 1px;
  border: solid 1px #fff;
  background: #0e8254;
}

.titleSub {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 30px auto 20px auto;
}

.titleSubLight {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 20px;
  color: #fff;
}

.textMain {
  width:80%;
  margin: 20px auto;
  text-align: center;
  line-height: 1.5;
  font-size: 1.1rem;
}

.textMainWhite {
  width:80%;
  margin: 20px auto;
  text-align: center;
  line-height: 1.5;
  font-size: 1.1rem;
  color: #fff;
}

.containerList {
  width: 100%;
  margin: 0px 20px 40px 20px;
  padding-left: 30px;
}

.listItem {
  text-align: start;
  margin: 10px 40px;
  font-size: 1.1rem;
  font-weight: 600;
}

.containerFooter {
  margin: 20px;
}

.footerAddress {
  width: 80%;
  margin: 0 auto 20px auto;
  text-align: start;
}

.textBold {
  width: 80%;
  margin: 0 auto 0 auto;
  font-weight: 300;
}

.containerAbout {
  background-color: rgb(159, 161, 110);
  padding: 20px;;
}

.containerContact {
  background-color: rgb(159, 161, 110);
  padding: 20px;;
}

.containerImage {
  margin-top: 20px;
}

.containerImageTick {
  display: grid;
  justify-content: center;
}

.imageTick {
  padding: 30px;
}

.titleLinkedin {
  margin-top: 45px;
  text-align: center;
  color: #212121;
  font-size: 1.3rem;
}

.imageLinkedin {
  padding: 10px;
}

.email {
  margin-bottom: 20px;
  text-align: center;
  color: #fff;
  font-size: 1.1rem;
}

.imageJob {
  width: 100%;
  height: auto;
  padding: 10px 50px;
}

.accGrid {
  display: grid;
  grid-template-columns: 50% 50%;
}

.imageAcc {
  width: 100%;
  height: auto;
  padding: 60px;
}

@media(min-width:768px) {
  .containerHeroImage {
    width: 60%;
    margin: 40px auto;
  }
  .containerIntro {
    width: 60%;
    margin: 40px auto;
  }

  .containerAbout {
    width: 90%;
    margin: 40px auto;
  }

  .containerPrevious {
    width: 60%;
    margin: 40px auto;
  }
  
  .containerWhy {
    width: 60%;
    margin: 40px auto;
  }
  
  .containerContact {
    width: 90%;
    margin: 40px auto;
  }

  .containerFooter {
    width: 60%;
    margin: 40px auto;
    text-align: center;
  }

  .containerTextDesktop {
    width: 60%;
    margin: 40px auto;
  }
  
  .contactWhatsapp {
    display: none;
  }

  .contactDesktop {
    display: block;
    text-align: center;
    font-size: 1.5rem;
  }

  .contactDesktop1 {
    display: block;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.5rem;
    color: #fff;
  }

  .email {
    font-size: 1.3rem;
  }

  .footerAddress {
    text-align: center;
    font-size: 1.3rem;
  }
}